body {
  background-color: #0d0d0d;
  color: #00ff99;
  font-family: "Courier Prime", monospace;
}
.bebas-neue{
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}
#hero p, footer .container a, #Contact p, .btn{
  color: #00965a;
}
footer .container a:hover{
  color: #00ff99 !important;
}
.section {
  padding: 100px 20px;
  min-height: 100vh;
}
.mynavbar{
  background-color: rgba(0, 0, 0, 0.7); 
  backdrop-filter: blur(5px);
}

.navbar-brand, .nav-link, .content-box h5, .card-body h5{
  color: #00ff99 !important;
}
.nav-link:hover {
  color: #16a46b !important;
}
.offcanvas-end {
  max-width: 60vw;
}
.offcanvas{
  height: 100vh;
}
.card-color{
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-dark{
  background-color: rgba(32, 31, 31, 0.7) !important;
}
.card-hover:hover {
  background-color: #093926;
  transform: scale(1.05);
  transition: 0.3s;
}
.timeline {
  position: relative;
}
.timeline::before {
  content: '';
  position: absolute;
  width: 1.5px;
  background-color:#00ff99;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.timeline-item {
  padding: 20px;
  position: relative;
  width: 50%;
}
.timeline-item.left {
  left: 0;
}
.timeline-item.right {
  left: 50%;
}
.content-box{
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #00965a;
}
.popup {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-in-out;
}
.popup.active {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 768px) {
  .timeline-item {
    width: 100%;
    left: 0 !important;
  }
  .timeline::before {
    left: 0;
    top: 10%;
    bottom: 10%;
  }
}
